@import '../../../index.scss';

.searchSection {
    padding: 20px 0;
    background-color: var(--body-background-color);
}

.container {
    width: var(--container-desktop);
    margin: 0 auto;
    padding: 0 var(--margin-desktop);
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 1280px) {
    .container {
        width: 1240px;
        padding: 0 20px;
    }
}

@media (min-width: 1140px) and (max-width: 1279px) {
    .container {
        width: 1240px;
        padding: 0 100px;
    }
}

@media (min-width: 768px) and (max-width: 1139px) {
    .container {
        width: 728px;
        padding: 0 20px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 280px;
        padding: 0 20px;
    }
} 
